.reset-password-container-fluid {
  padding-left: 0;
  padding-right: 0;
  padding-top: 150px;
  background-color: var(--color-background-white);
  min-height: 100vh;
}

.reset-password {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
  }
  .reset-password-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 61px var(--padding-3xs);
    color: #0f0e0e;
    font-family: var(--font-inika);
    width: 100%;
  }
  .enter-your-email {
    position: relative;
    font-weight: 500;
  }
  .johndoegmailcom {
    width: 100%;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-base);
    background-color: transparent;
    height: 24px;
    flex: 1;
    position: relative;
    color: var(--color-black);
    white-space: pre-wrap;
    text-align: left;
    display: inline-block;
    min-width: 201px;
    max-width: 100%;
    padding: 0;
  }
  .enter-your-email-address-parent,
  .johndoegmailcom-wrapper,
  .enter-your-password-parent {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .johndoegmailcom-wrapper {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.44);
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: row;
    padding: 0 11px 4px 12px;
  }
  .enter-your-email-address-parent,
  .enter-your-password-parent {
    flex-direction: column;
    gap: var(--gap-5xs);
    text-align: left;
    font-size: var(--font-size-base);
  }
  .icons,
  .sign-up {
    position: relative;
    color: black;
  }
  .icons {
    height: 24px;
    width: 24px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .sign-up {
    font-weight: 500;
    display: inline-block;
    min-width: 74px;
  }
  .button,
  .button-wrapper,
  .sign-up-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .sign-up-button {
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .button,
  .button-wrapper {
    box-sizing: border-box;
  }
  .button {
    height: 35px;
    border-radius: 32px;
    background-color: #f1e4c3;
    border: 1px solid rgba(0, 0, 0, 0.6);
    overflow: hidden;
    justify-content: flex-start;
    padding: 3px 23px;
    opacity: 0.7;
  }
  .button-wrapper {
    align-self: stretch;
    height: 33px;
    justify-content: center;
    padding: 0 var(--padding-xl);
    font-size: var(--font-size-lg);
  }
  .frame-container,
  .member-update-password-inner {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    margin: auto 30px;
    padding: 40px 40px;
    background-color:   rgb(236, 236, 236);
    border-radius: 20px;
    max-width: 450px;
    width: 100%;
  }
  .member-update-password-inner {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-12xs) 0 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    color: var(--color-black);
    font-family: var(--font-poppins);
    margin: auto 30px;
  }

  p {
    margin-bottom: 30px;
    font-family: var(--font-poppins);
    font-size: 15px;
    color: var(--color-dimgray-200);
  }