.search-history-container {
    background-color: #F5F5F5;
    font-family: 'Inika', serif;
    min-height: 70vh;
}

.search-history-content {
    width: 87.5%;
    height: 100%;
    padding-top: 25px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:visited {
    color: #0B58CA;
}

#search {
    margin-top: 50px;
}

h2 {
    margin-top: 30px;
    color: #AD564C;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.breadcrumb {
    background-color: #fff;
    padding: 8px 15px;
    font-family: 'Inter', sans-serif;
}
