
.rating {
    unicode-bidi: bidi-override;
    direction: rtl; 
    width: max-content;
  }

  & i{
    color: #eddfdf;
  }
  
  .rating > input {
    display: none;
  }
  
  .rating > label {
    display: inline-block;
    cursor: pointer;
    color: transparent; 
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #980201;
  }
  
  .rating > label:hover,
  .rating > label:hover ~ label {
    -webkit-text-fill-color: #980201;
  }
  
  .rating > input:checked ~ label {
    color: #980201; 
  }
  