<div class="admin-content">
   <!-- Header at the top of page -->
   <div class="head-page">
      <div class="nav-left">
         <span class="welcome"> Welcome, <span>admin@gmail.com</span> ! </span>
      </div>

      <div class="nav-right">
         <div class="drop-down">
            <div class="wrapper">
               <img src="/images/engFlag.png" class="selected-img" />
            </div>
            <i class="ri-arrow-drop-down-fill arrow"></i>

            <div class="list">
               <div class="item">
                  <img src="/images/vietFlag.png" />
               </div>

               <div class="item">
                  <img src="/images/engFlag.png" />
               </div>
            </div>
         </div>
         <script src="/js/clients/header.js"></script>
      </div>
   </div>

   <!-- Content -->
   <div class="content">
      <div class="frame-1">
         <div class="frame-content">
            <div class="total">
               <span>72</span>
               <div>Total Users</div>
            </div>

            <img src="/images/users.png" />
         </div>
         <a href="#">
            <div class="more-info-1">
               <span>More <i class="far fa-arrow-alt-circle-right"></i></span>
            </div>
         </a>
      </div>

      <div class="frame-2">
         <div class="frame-content">
            <div class="total">
               <span>72</span>
               <div>Total Recipes</div>
            </div>

            <img src="/images/recipes.png" />
         </div>
         <a href="#">
            <div class="more-info-2">
               <span>More <i class="far fa-arrow-alt-circle-right"></i></span>
            </div>
         </a>
      </div>
   </div>
</div>
