<div class="container m-5">
  <!-- Headline  -->
  <h2 class="mb-5">Recipe Management</h2>
  <hr />
  <!-- breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Recipe Management
      </li>
    </ol>
  </nav>

  <!-- Table display information -->
  <table class="table mt-3 text-center">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Created</th>
        <th scope="col">Rating</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% recipes.forEach(recipe => { %>
      <tr>
        <td>
          <img
            src="/images/<%= recipe.image %>"
            alt="<%= recipe.name %>"
            width="100"
          />
        </td>
        <td><%= recipe.name %></td>
        <td><%= recipe.description %></td>
        <td>N/A</td>
        <td>N/A</td>
        <td>
          <a
            href=""
            style="cursor: pointer; text-decoration: none; color: black"
          >
            <i class="ri-edit-box-line"></i>
          </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <!-- Navigation of the table -->
  <nav class="row pt-2 m-0">
    <!--Add Content button-->
    <div class="col-8 d-flex justify-content-start align-items-center">
      <a href="/recipe/new" class="btn btn-primary">Add Item</a>
    </div>

    <!--displayRowPerPage -->
    <div class="col-2 d-flex justify-content-center align-items-center">
      <label for="rows">Rows per page </label>
      <select
        name="rows"
        id="rows"
        class="border-0"
        style="outline: none; margin-left: 5px"
      >
        <option value="5" selected>4</option>
        <option value="5">5</option>
        <option value="5">8</option>
      </select>
    </div>

    <!-- Pages -->
    <div class="col-2">
      <p class="m-0 d-flex justify-content-center align-items-center">
        1-3 of 3
        <i
          class="ri-arrow-drop-left-line fs-4 mx-2"
          style="cursor: pointer"
        ></i>
        <i
          class="ri-arrow-drop-right-line fs-4 mx-2"
          style="cursor: pointer"
        ></i>
      </p>
    </div>
  </nav>
</div>
