<head>
    <!-- css -->
    <link rel="stylesheet" href="/css/clients/profile.css" />
</head>

<div class="container-fluid">
    <div class="profile-head">
        <span class="my-profile">My Profile</span>
        <div class="profile-picture-frame">
            <img
                class="profile-picture"
                loading="lazy"
                src="/images/profile.jpg"
                alt="profile picture"
            />
        </div>
    </div>

    <!-- <button class="profile-button">
        <span>Edit Profile</span>
    </button> -->
   
   <a href="" class="change-picture">Change Picture</a>

    <div class="profile-information">
      <div class="field">
          <span class="field-title">Username</span>
          <div class="field-info" contenteditable="true">
            <span>johndoe</span>
        </div>
      </div>
      <div class="field">
          <span class="field-title">Email Address</span>
          <div class="field-info" contenteditable="true">
            <span>johndoe@gmail.com</span>
          </div>
      </div>
      <div class="field">
          <span class="field-title">Password</span>
          <div class="field-info" style="background-color: gray; opacity: 80%;">
              <span>*****************</span>
          </div>
      </div>
  </div>

  <button class="profile-button" style="margin-top: 30px;">
   <span>Update Changes</span>
</button>

    <!-- <div class="form-format">
        <form class="form-layout" action="/" method="post">
           <div class="field">
              <label class="label" for="username">Username</label>
              <input
                 class="input-box"
                 id="username"
                 name="username"
                 type="text"
              />
           </div>
  
           <div class="field">
              <label class="label" for="email">Email Address</label>
              <input class="input-box" id="email" name="email" type="text" />
           </div>
  
           <div class="field">
              <label class="label" for="password">Password</label>
              <input
                 class="input-box"
                 id="password"
                 name="password"
                 type="text"
              />
              <p>
                 Use 8 or more characters with a mix of letters, numbers, and
                 symbols
              </p>
           </div>
           <div class="form-end">
              <button class="profile-button" type="submit">Update Changes</button>
           </div>
        </form>
     </div> -->
</div>