<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/clients/favourite.css">
    <title>My Favourites - LoverCook</title>
</head>
<body>
    <div class="content">
        <div class="banner">
            <img src="/public/images/nemRan.jpeg">
            <div>My Favourites</div>
        </div>

        <p> Which shall I make today? </p>
        <ul class="image-gallery">
            <li class="gallery-item">
                <img src="/public/images/tomYumSoup.jpeg">
                <div class="item-name">Tom Yum Soup</div>
            </li>
            <li class="gallery-item">
                <img src="/public/images/capCai.jpeg">
                <div class="item-name">Cap Cai</div>
            </li>
            <li class="gallery-item">
                <img src="/public/images/indoChickenSkewer.jpeg">
                <div class="item-name">Indonesian Chicken Skewer My Best Overnight Oat</div>
            </li>
            <li class="gallery-item">
                <img src="/public/images/champorado.jpeg">
                <div class="item-name">Champorado</div>
            </li>
            <li class="gallery-item">
                <img src="/public/images/mangoChickenCurry.jpeg">
                <div class="item-name">Mango Chicken Curry</div>
            </li>
            <li class="gallery-item">
                <img src="/public/images/freshSpringRolls.jpeg">
                <div class="item-name">Fresh Spring Rolls</div>
            </li>
            <li class="gallery-item">
                <img src="/public/images/phnomPenhNoodle.jpeg">
                <div class="item-name">Phnom Penh Noodle</div>
            </li>
            <li class="gallery-item">
                <img src="/public/images/nemRan.jpeg">
                <div class="item-name">Nem Ran</div>
            </li>
        </ul>
    </div> 
</body>
</html>
