<head>
    <!-- Css -->
    <link rel="stylesheet" href="/css/clients/favorite.css">
</head>

<body>
    
    <div class="banner">
        <img src="/images/freshSpringRolls.jpeg">
        <div>My Favorites</div>
    </div>

    <div class="content">
        <p> Which shall I make today? </p>
        <ul class="image-gallery">
            <li class="gallery-item">
                <img src="/images/tomYumSoup.jpeg">
                <div class="item-name">Tom Yum Soup</div>
            </li>
            <li class="gallery-item">
                <img src="/images/capCai.jpeg">
                <div class="item-name">Cap Cai</div>
            </li>
            <li class="gallery-item">
                <img src="/images/indoChickenSkewer.jpeg">
                <div class="item-name">Indonesian Chicken Skewer</div>
            </li>
            <li class="gallery-item">
                <img src="/images/champorado.jpeg">
                <div class="item-name">Champorado</div>
            </li>
            <li class="gallery-item">
                <img src="/images/mangoChickenCurry.jpeg">
                <div class="item-name">Mango Chicken Curry</div>
            </li>
            <li class="gallery-item">
                <img src="/images/freshSpringRolls.jpeg">
                <div class="item-name">Fresh Spring Rolls</div>
            </li>
            <li class="gallery-item">
                <img src="/images/phnomPenhNoodle.jpeg">
                <div class="item-name">Phnom Penh Noodle</div>
            </li>
            <li class="gallery-item">
                <img src="/images/nemRan.jpeg">
                <div class="item-name">Nem Ran</div>
            </li>
        </ul>
    </div> 
</body>

