<head>
    <!-- Css -->
    <link rel="stylesheet" href="/css/clients/favorite.css">
</head>

<body>
    
    <div class="banner">
        <img src="/images/freshSpringRolls.jpeg">
        <div>My Favorites</div>
    </div>

    <div class="content">
        <p> Which shall I make today? </p>
        <ul class="image-gallery">
            <% user.favoriteRecipes.forEach(recipe => { %>
            <li class="gallery-item">
                <a href="/recipeManagement/<%= recipe.slug %>">
                    <img src="/images/<%= recipe.image %>">
                    <div class="item-name"><%= recipe.name %></div>
                </a>
            </li>
            <% }) %>
        </ul>
    </div> 
</body>

