<head>
    <!-- css -->
    <link rel="stylesheet" href="/css/clients/profile.css" />
</head>

<div class="container-fluid">
    <div class="profile-head">
        <span class="my-profile">My Profile</span>
        <div class="profile-picture-frame">
            <img
                class="profile-picture"
                loading="lazy"
                src="/images/profile.jpg"
                alt="profile picture"
            />
        </div>
    </div>
    <a href="/account/profile/editProfile">
        <button class="profile-button">
            <span>Edit Profile</span>
        </button>
    </a>
    <div class="profile-information">
        <div class="field">
            <span class="field-title">Username</span>
            <div class="field-info">
                <span>johndoe</span>
            </div>
        </div>
        <div class="field">
            <span class="field-title">Email Address</span>
            <div class="field-info">
                <span>johndoe@gmail.com</span>
            </div>
        </div>
        <div class="field">
            <span class="field-title">Password</span>
            <div class="field-info">
                <span>*****************</span>
            </div>
            <a href="/account/profile/resetPassword" class="reset-password">Reset Password</a>
        </div>
    </div>
</div>