<head>
   <!-- css -->
   <link rel="stylesheet" href="/css/clients/profile.css" />
</head>

<form class="profile-container-fluid" action="/users/update/<%= user._id %>" method="post" enctype="multipart/form-data">
   <div class="profile-head">
      <span class="my-profile">My Profile</span>
      <div class="profile-picture-frame">
         <% if(user.avatar){ %>
         <img
            class="profile-picture"
            loading="eager"   
            src="/uploadImages/<%= user.avatar %>"
            alt="profile picture"
         />
         <% } else { %>
         <img
            class="profile-picture"
            loading="eager"
            src="/images/user.png"
            alt="profile picture"
            style="backdrop-filter: blur(50px);"
         />
         <% } %>

         <div
            class="uploadImage w-100 h-100 position-absolute"
            style="background: linear-gradient(180deg, transparent 70%, black)"
         >
            <label
               class="w-100 h-100 d-flex align-items-center justify-content-center"
               for="file"
               style="cursor: pointer"
            >
               <input type="file" id="file" name="newAvatar" onchange="showButton()"  hidden/>
               <img
                  src="/images/up-loading.png"
                  class="w-25"
                  alt="upload file"
               />
            </label>
         </div>
      </div>
   </div>

   <!-- <button class="profile-button">
      <span>Edit Avatar</span>
   </button> -->

   <div class="profile-information">
      <div class="field">
         <span class="field-title">Username</span>
         <div class="field-info">
            <input
               type="text"
               class="w-100 border-0"
               name="username"
               id="username"
               value="<%= user.username %>"
               style="outline: none"
               oninput="showButton()"
            />
         </div>
      </div>
      <div class="field">
         <span class="field-title">Email Address</span>
         <div class="field-info">
            <input
               type="text"
               class="w-100 border-0"
               name="email"
               id="email"
               value="<%= user.email %>"
               style="outline: none"
               oninput="showButton()"
            />
         </div>
      </div>
      <div class="field">
         <span class="field-title">Forgot Password?</span>
         <a href="/account/profile/resetPassword">Reset Password</a>
      </div>
      <button
         type="submit"
         id="saveBtn"
         class="btn btn-primary"
         style="display: none"
      >
         Save Changes
      </button>
   </div>
</form>

<script>
   function showButton() {
      document.getElementById('saveBtn').style.display = 'block';
   }
</script>
