<head>
   <!-- css -->
   <link rel="stylesheet" href="/css/clients/resetPassword.css" />
</head>

<div class="reset-password-container-fluid">
  <section class="member-update-password-inner">
    <div class="frame-container">
        <div class="reset-password-wrapper">
          <h2 class="reset-password">Reset Password</h2>
        </div>
    <%- include('../partials/notificationMessage') %>

        <form action="/account/profile/resetPassword" method="post" style="width: 300px; height: 150px;  display: flex; align-items: center; justify-content: space-evenly; flex-direction: column; ">
          <div class="enter-your-email-address-parent">
              <i class="enter-your-email">Email address</i>
              <div class="johndoegmailcom-wrapper">
                <input
                    class="johndoegmailcom"
                    placeholder="Enter your email address"
                    type="text"
                    name="email"
                />
              </div>
          </div>
          <div class="button-wrapper">
              <div class="button">
                <div class="sign-up-button">
                    <img class="icons" alt="" src="/images/icons.svg" />

                    <button
                      type="submit"
                      class="sign-up"
                      style="background: transparent; border: none"
                    >
                      Confirm
                    </button>
                </div>
              </div>
          </div>
        </form>
    </div>
  </section>
</div>
