<head>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/clients/searchHistory.css" />
    <link rel="stylesheet" href="/css/partials/globalCSS.css" />

    <!-- JS -->
    <script src="/js/clients/searchHistory.js" defer></script>
</head>

<div class="search-history-container">
    <div class="search-history-content">
        <div class="breadcrumb">
            <span>&#127968; <a href="/">Home</a> <span class="path-arrow"> > </span> Search History </span>
        </div>
        <h2>Search History</h2>
        <%- include ('../partials/searchBar') %>

        <%- include ('../partials/pantry') %>

        <!-- List of viewed recipes here -->
        <div id="all-recipes">
            <div class="recipe">
                <div class="recipe-img-container">
                    <img class="recipe-img" src="images/indoChickenSkewer.jpeg" />
                </div>

                <div class="first-row">
                    <div class="recipe-name" title="Indonesian Chicken Skewer">
                    <a
                        href="/recipeManagement/indonesian-chicken-skewers-with-peanut-sauce-satay-ayam"
                        style="text-decoration: none; color: black"
                    >
                    Indonesian Chicken Skewer
                    </a>
                    </div>
                    <form
                    action="/favorite-recipe/add-favorite/indonesian-chicken-skewers-with-peanut-sauce-satay-ayam"
                    method="post"
                    >
                    <button type="submit" class="bg-none border-0">
                        <i class="ri-heart-line"></i>
                    </button>
                    </form>
                </div>

                <div class="second-row">
                    <div class="cook-time">
                    <img src="/images/clock.png" />
                    <span>1 hr 40 mins</span>
                    </div>
                    <div class="rating">
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    </div>
                </div>
            </div>

            <div class="recipe">
                <div class="recipe-img-container">
                    <img class="recipe-img" src="images/indoSatay.jpeg" />
                </div>

                <div class="first-row">
                    <div class="recipe-name" title="Indonesian Satay">
                    <a
                        href="/recipeManagement/indonesian-satay"
                        style="text-decoration: none; color: black"
                    >
                    Indonesian Satay
                    </a>
                    </div>
                    <form
                    action="/favorite-recipe/add-favorite/indonesian-satay"
                    method="post"
                    >
                    <button type="submit" class="bg-none border-0">
                        <i class="ri-heart-line"></i>
                    </button>
                    </form>
                </div>

                <div class="second-row">
                    <div class="cook-time">
                    <img src="/images/clock.png" />
                    <span>1 hr 40 mins</span>
                    </div>
                    <div class="rating">
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    </div>
                </div>
            </div>

            <div class="recipe">
                <div class="recipe-img-container">
                    <img class="recipe-img" src="images/mangoChickenCurry.jpeg" />
                </div>

                <div class="first-row">
                    <div class="recipe-name" title="Malaysian Mango Chicken Curry">
                    <a
                        href="/recipeManagement/malaysian-mango-chicken-curry"
                        style="text-decoration: none; color: black"
                    >
                    Malaysian Mango Chicken Curry
                    </a>
                    </div>
                    <form
                    action="/favorite-recipe/add-favorite/malaysian-mango-chicken-curry"
                    method="post"
                    >
                    <button type="submit" class="bg-none border-0">
                        <i class="ri-heart-line"></i>
                    </button>
                    </form>
                </div>

                <div class="second-row">
                    <div class="cook-time">
                    <img src="/images/clock.png" />
                    <span>1 hr 40 mins</span>
                    </div>
                    <div class="rating">
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    </div>
                </div>
            </div>

            <div class="recipe">
                <div class="recipe-img-container">
                    <img class="recipe-img" src="images/phnomPenhNoodle.jpeg" />
                </div>

                <div class="first-row">
                    <div class="recipe-name" title="Phnom Penh Noodle">
                    <a
                        href="/recipeManagement/indonesian-chicken-skewers-with-peanut-sauce-satay-ayam"
                        style="text-decoration: none; color: black"
                    >
                    Phnom Penh Noodle
                    </a>
                    </div>
                    <form
                    action="/favorite-recipe/add-favorite/indonesian-chicken-skewers-with-peanut-sauce-satay-ayam"
                    method="post"
                    >
                    <button type="submit" class="bg-none border-0">
                        <i class="ri-heart-line"></i>
                    </button>
                    </form>
                </div>

                <div class="second-row">
                    <div class="cook-time">
                    <img src="/images/clock.png" />
                    <span>1 hr 40 mins</span>
                    </div>
                    <div class="rating">
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    </div>
                </div>
            </div>

            <div class="recipe">
                <div class="recipe-img-container">
                    <img class="recipe-img" src="images/vegeterianPadThai.jpeg" />
                </div>

                <div class="first-row">
                    <div class="recipe-name" title="Vegetarian Pad Thai">
                    <a
                        href="/recipeManagement/indonesian-chicken-skewers-with-peanut-sauce-satay-ayam"
                        style="text-decoration: none; color: black"
                    >
                    Vegetarian Pad Thai
                    </a>
                    </div>
                    <form
                    action="/favorite-recipe/add-favorite/indonesian-chicken-skewers-with-peanut-sauce-satay-ayam"
                    method="post"
                    >
                    <button type="submit" class="bg-none border-0">
                        <i class="ri-heart-line"></i>
                    </button>
                    </form>
                </div>

                <div class="second-row">
                    <div class="cook-time">
                    <img src="/images/clock.png" />
                    <span>1 hr 40 mins</span>
                    </div>
                    <div class="rating">
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    <span class="stars">&#128972;</span>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End of search-history-content -->
</div> <!-- End of search-history-container -->
