<head>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/clients/searchHistory.css" />

    <!-- JS -->
    <script src="/js/clients/searchHistory.js" defer></script>
</head>

<div class="search-history-container">
    <div class="search-history-content">
        <div class="breadcrumb">
            <span>&#127968; <a href="/">Home</a> > Search History </span>
        </div>
        <h2>Search History</h2>
        <%- include ('../partials/searchBar') %>

        <%- include ('../partials/pantry') %>

        <!-- List of viewed recipes here -->
        

    </div> <!-- End of search-history-content -->
</div> <!-- End of search-history-container -->
