<head>
    <!-- css -->
    <link rel="stylesheet" href="/css/clients/resetPassword.css" />
</head>

<div class="container-fluid">
  <section class="member-update-password-inner">
      <div class="frame-container">
        <div class="reset-password-wrapper">
          <h2 class="reset-password">Reset Password</h2>
        </div>
        <div class="enter-your-email-address-parent">
          <i class="enter-your-email">An OTP has been sent to your email address.</i>
          <i class="enter-your-email">Enter OTP:</i>
          <div class="johndoegmailcom-wrapper">
            <input
              class="johndoegmailcom"
              placeholder="367812  "
              type="text"
            />
          </div>
        </div>
        <div class="button-wrapper">
          <div class="button">
            <div class="sign-up-button">
              <a href="/account/profile/updatePassword">
                <img class="icons" alt="" src="./public/icons.svg" />

                <div class="sign-up">Confirm</div>
              </a>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>