<head>
    <!-- css -->
    <link rel="stylesheet" href="/css/clients/resetPassword.css" />
</head>

<div class="container-fluid">
  <section class="member-update-password-inner">
      <div class="frame-container">
        <div class="reset-password-wrapper">
          <h2 class="reset-password">Reset Password</h2>
        </div>
        <div class="enter-your-password-parent">
          <i class="enter-your-email">Enter your new password:</i>
          <div class="johndoegmailcom-wrapper">
            <input
              class="johndoegmailcom"
              placeholder="weihak199@*#jf "
              type="text"
            />
          </div>
          <p>Use 8 or more characters with a mix of letters, numbers, and
              symbols</p>

          <i class="enter-your-email">Verify new password:</i>
          <div class="johndoegmailcom-wrapper">
            <input
              class="johndoegmailcom"
              placeholder="weihak199@*#jf"
              type="text"
            />
          </div>
        </div>
        <div class="button-wrapper">
          <div class="button">
            <div class="sign-up-button">
              <a href="/account/profile">
                <img class="icons" alt="" src="./public/icons.svg" />

                <div class="sign-up">Confirm</div>
              </a>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>