<head>
   <!-- css -->
   <link rel="stylesheet" href="/css/clients/resetPassword.css" />
  <!-- js -->
  <script src="/js/clients/checkPasswordMatch.js"></script>
  </head>

<div class="reset-password-container-fluid">
   <section class="member-update-password-inner">
      <form action="/account/profile/updatePassword" method="post">
         <input type="hidden" name="token" value="<%= token %>">
         <div class="frame-container">
            <div class="reset-password-wrapper">
               <h2 class="reset-password">Reset Password</h2>
            </div>
            <%- include('../partials/notificationMessage') %>

            <div class="enter-your-password-parent">
               <i class="enter-your-email" style="margin-bottom: 5px;">Enter your new password:</i>
                  <input
                     class="johndoegmailcom"
                     placeholder="Enter your new password"
                     type="text"
                     id="newPassword"
                     name="newPassword"
                     style="border-radius: 10px; border: 1px solid #d1d1d1;padding: 5px;"
                     onkeyup="checkTheSame('newPassword', 'reenterPassword','button-save')"
                  />

               <i class="enter-your-email" style="margin: 15px 0 5px 0;">Verify new password:</i>
                  <input
                     class="johndoegmailcom"
                     placeholder="Re-enter your password "
                     type="text"
                     id="reenterPassword"
                     name="reenterPassword"
                     style="border-radius: 10px; border: 1px solid #d1d1d1;padding: 5px;"
                     onkeyup="checkTheSame('newPassword', 'reenterPassword','button-save')"
                  />
            </div>
            <div class="button-wrapper" id="button-save"  hidden>
               <div class="button">
                  <div class="sign-up-button">
                    <button type="submit" class="border-0" style="background: none;">
                      <img class="icons" alt="" src="./public/icons.svg" />

                      <div class="sign-up">Confirm</div>
                    </button>

                  </div>
               </div>
            </div>
         </div>
      </form>
   </section>
</div>
