<head>
  <link rel="stylesheet" href="/css/partials/adminHeader.css" />
  
</head>
<header>
  <!-- Logo image -->
  <div id="logo-with-name">
    <a href="/dashboard">
      <img src="/images/logoWithName.png" />
    </a>
  </div>

  <!-- Main navigation -->
  <nav>
    <div class="top-links">
      <a href="/dashboard" >
        <div class="<%= currentPage === 'dashboard' ? 'nav-active' : '' %>">
          <i class="bx bx-home"></i>
          <span>Home</span>
        </div>
      </a>

      <a href="/userManagement" >
        <div class="<%= currentPage === 'user-management' ? 'nav-active' : '' %>">
          <i class="bx bx-user"></i>
          <span>User Management</span>
        </div>
        </a>

      <a href="/recipeManagement" >
        <div class="<%= currentPage === 'recipe-management' ? 'nav-active' : '' %>">
          <i class="bx bx-bowl-hot"></i>
          <span>Recipe Management</span>
        </div>
      </a>
    </div>

    <a href="#"
      ><div id="log-out">
        <i class="bx bxs-log-out"></i>
        <span>Log out</span>
      </div></a
    >
  </nav>
</header>
