<header>
  <!-- Logo image -->
  <div id="logo-with-name">
    <a href="#">
      <img src="/images/logoWithName.png" />
    </a>
  </div>

  <!-- Main navigation -->
  <nav>
    <div class="top-links">
      <a href="#"
        ><div class="home-btn">
          <i class="bx bx-home"></i>
          <span>Home</span>
        </div></a
      >

      <a href="#"
        ><div>
          <i class="bx bx-user"></i>
          <span>User Management</span>
        </div></a
      >

      <a href="#"
        ><div>
          <i class="bx bx-bowl-hot"></i>
          <span>Recipe Management</span>
        </div></a
      >
    </div>

    <a href="#"
      ><div id="log-out">
        <i class="bx bxs-log-out"></i>
        <span>Log out</span>
      </div></a
    >
  </nav>
</header>
