
<head>
        <!-- Css -->
        <link rel="stylesheet" href="/css/partials/clientHeader.css" />
        <link rel="stylesheet" href="/css/partials/langButton.css" />
</head>
<% if(!userAuthentication){ %>
    <header>
      <div class="nav-left">
        <a href="/" style="text-decoration: none;">
          <img
            id="logo-without-name"
            src="/images/logoWithoutName.png"
          />
            <img id="logo-name" src="/images/loverCook.png" />
        </a>
      </div>
      <div class="nav-right">
        <a href="#"> <span> History </span> </a>
        <a href="/favorite-recipe"> <span> Favourites </span> </a>
        <% if(user){ %>
        <a href="/account/profile"> 
          <i class='bx bx-user-circle icon-profile' style='color:#707070' ></i>
          <span><%= user.username %></span> 
        </a>
        <% }else{ %>
        <a href="/signup"> <span> Register </span> </a>
        <span> | </span>
        <a href="/signin"> <span> Login </span> </a>
        <% } %>
        <%- include('./langButton') %>
      </div>
    </div>
  </header>
  <% }else{ %>
    <header>
      <div class="nav-left">
        <a href="/" style="text-decoration: none;">
          <img
            id="logo-without-name"
            src="/images/logoWithoutName.png"
          />
            <img id="logo-name" src="/images/loverCook.png" />
        </a>
      </div>
      <div class="nav-right">
        <%- include('./langButton') %>
      </div>
    </div>
  </header>
    <% } %>
    

