<head>
  <!-- CSS -->
  <link rel="stylesheet" href="/css/partials/ingredientFilter.css" />
</head>

<div class="ingredient-filter">
  <h3>Ingredient Filter</h3>
  <% Object.entries(ingredients).forEach(([category, ingredientsList]) => { %>
  <div class="ingredients">
    <div class="ingredient-header">
      <img src="/images/vegetableIcon.png" alt="vegetable icon" />
      <span><%= category %></span>
    </div>
    <% const maxVisibleIngredients =4; %> <%
    ingredientsList.forEach((ingredient, index) => { %>
    <button class="selectable-button" onclick="toggleSelection(this)">
      <span class="button-text"><%=ingredient%></span>
    </button>
    <% }) %> <% if (ingredientsList.length > maxVisibleIngredients) { %>
    <button
      type="button"
      class="more-btn"
      data-max-visible="<%= maxVisibleIngredients %>"
    >
      + <%= ingredientsList.length - maxVisibleIngredients %> more
    </button>
    <% } %>
  </div>
  <% }) %>

  <script>
    // Function to toggle the selection state of the button
    function toggleSelection(button) {
      button.classList.toggle("selected");
    }
  </script>
</div>
