
<head> 
  <!-- Css -->
  <link rel="stylesheet" href="/css/partials/pantry.css" />

  <!-- Js -->
  <script src="/js/partials/pantry.js" defer></script>
</head>

<div class="pantry-icon">
    <img src="/images/basket.png" />
    <span id="num-of-ingredients"> 0 </span>
  </div>

  <div class="pantry-contents hidden">
    <div class="pantry-title">
      <img src="/images/basket.png" />
      <span> My pantry </span>
    </div>

    <ol class="pantry-list"></ol>
  </div>
