<!-- Sign up form -->
<div class="background">
</div>
<section class="client-sign-up-form">
   <div class="form-title">
      <div class="title-1">Sign Up</div>
      <div class="title-2">Let's get you started.</div>
   </div>

   <div class="form-format">
      <form class="form-layout" action="/" method="post">
         <div class="field">
            <label class="label" for="username">Username</label>
            <input
               class="input-box"
               id="username"
               name="username"
               type="text"
            />
         </div>

         <div class="field">
            <label class="label" for="email">Email Address</label>
            <input class="input-box" id="email" name="email" type="text" />
         </div>

         <div class="field">
            <label class="label" for="password">Password</label>
            <input
               class="input-box"
               id="password"
               name="password"
               type="text"
            />
            <p>
               Use 8 or more characters with a mix of letters, numbers, and
               symbols
            </p>
         </div>
         <div class="form-end">
            <button class="submit-button" type="submit">Sign Up</button>
            <p>Already have an account? <a href="/signin">Sign In</a></p>
         </div>
      </form>
   </div>
</section>
