<head>
   <!-- Css -->
   <link rel="stylesheet" href="/css/partials/signUpSignIn.css" />
</head>
<!-- Sign up form -->
<div class="background"></div>

<section class="client-sign-up-form">
   <div class="form-title">
      <div class="title-1">Sign In</div>
      <div class="title-2">Welcome back!</div>
   </div>

   <div class="form-format">
      <form class="form-layout" action="<%= isAdminSignUp ? '/signin/adminAuth' : '/signin/userAuth' %>" method="post">
         <%- include('./notificationMessage') %>
         <div class="field">
            <label class="label" for="username">Username</label>
            <input
               class="input-box"
               id="username"
               name="username"
               type="text"
            />
         </div>

         <div class="field">
            <label class="label" for="password">Password</label>
            <input
               class="input-box"
               id="password"
               name="password"
               type="password"
            />
            <div style="text-align: right;">
               <a href="/account/profile/resetPassword" class="forgot-password">Forgot Password?</a>
            </div>
         </div>
         <div class="form-end">
            <button class="submit-button" type="submit">Sign In</button>
            <p>Don't have an account? <a href="/signup">Sign Up</a></p>
         </div>
      </form>
   </div>
</section>
