<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/partials/adminHeader.css" />
    <link rel="stylesheet" href="/public/css/partials/langButton.css" />
    <link rel="stylesheet" href="/public/css/partials/globalCSS.css">

    <!-- js -->
    
    
    <!-- Css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
  </head>
  <body>
    <header>
      <!-- Logo image -->
      <div id="logo-with-name">
        <a href="#">
          <img src="/public/images/logoWithName.png" />
        </a>
      </div>
    
      <!-- Main navigation -->
      <nav>
        <div class="top-links">
          <a href="#"
            ><div class="home-btn">
              <i class="bx bx-home"></i>
              <span>Home</span>
            </div></a
          >
    
          <a href="#"
            ><div>
              <i class="bx bx-user"></i>
              <span>User Management</span>
            </div></a
          >
    
          <a href="#"
            ><div>
              <i class="bx bx-bowl-hot"></i>
              <span>Recipe Management</span>
            </div></a
          >
        </div>
    
        <a href="#"
          ><div id="log-out">
            <i class="bx bxs-log-out"></i>
            <span>Log out</span>
          </div></a
        >
      </nav>
    </header>
    <!-- Language Button -->
    <div class="nav-right">
      <div class="drop-down">
        <div class="wrapper">
            <img src="/public/images/engFlag.png" class="selected-img" />
        </div>
        <i class="ri-arrow-drop-down-fill arrow"></i>
        
        <div class="list">
        <div class="item"> 
            <img src="/public/images/vietFlag.png"> 
        </div>

        <div class="item"> 
            <img src="/public/images/engFlag.png"> 
        </div>
        </div>

      </div>

      <script src="/public/js/clients/header.js"></script>
    </div>
    

  </body>
</html>
