<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | L'overCook </title>
</head>
<body>
    <div class="search-section">
        <p> Recipe Search </p>
        <form class="search-bar">
            <div class="search-bar-main">
                <input placeholder="Enter recipe name or ingredients you have...">
            </div>
            <button class="search-btn"> Search</button>
        </form>
    </div>

    
</body>
</html>
