<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/admin/header.css" />
  </head>
  <body>
    <header>
      <!-- Logo image -->
      <div id="logo-with-name">
        <a href="#">
            <img src="/public/images/logoWithName.png" />
        </a>
      </div>

      <!-- Main navigation -->
      <nav>
        <div class="top-links">
            <a href="#"
            ><div class="home-btn">
                <i class="bx bx-home"></i>
                <span>Home</span>
            </div></a
            >

            <a href="#"
            ><div>
                <i class="bx bx-user"></i>
                <span>User Management</span>
            </div></a
            >

            <a href="#"
            ><div>
                <i class="bx bx-bowl-hot"></i>
                <span>Recipe Management</span>
            </div></a
            >
        </div>

        <a href="#"
          ><div id="log-out">
            <i class='bx bxs-log-out' ></i>
            <span>Log out</span>
          </div></a
        >
      </nav>
    </header>
  </body>
</html>
