.head-page {
    padding:20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.welcome {
    font-family: var(--font-poppins);
    font-size: 30px;
    font-weight: 600;
}

.welcome span {
    color: var(--color-green);
}

.content {
    margin: 50px 80px 50px 80px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
}

.frame-1,
.frame-2,
.frame-3,
.frame-4 {
    min-width: 200px;
    min-height: 120px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    width: 400px;
}

.frame-1 {
    background-color: #e1a387; 
}

.frame-2 {
    background-color: #8ecae6;
}

.frame-3 {
    background-color: rgb(180, 223, 139);
}

.frame-4 {
    background-color: #ebd389;
}

.frame-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    padding-left: 60px;
    gap: 50px;
}

.frame-content img {
    /* position: relative; */
    max-height: 120px;
}

.total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-poppins);
}

.total span {
    font-size: 50px;
    font-weight: 600;
}

.total div {
    font-style: italic;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

.more-info-1,
.more-info-2,
.more-info-3,
.more-info-4 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-info-1 {
    background-color: #b96a59;
}

.more-info-2 {
    background-color: #239ebc;
}

.more-info-3 {
    background-color: rgb(89, 172, 12);
}

.more-info-4 {
    background-color: #d49f00;
}

.frame-1 a,
.frame-2 a,
.frame-3 a,
.frame-4 a {
    text-decoration: none;
}

.more-info-1 span,
.more-info-2 span,
.more-info-3 span,
.more-info-4 span {
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 18px;
    color: black;
}

.more-info-1 span:hover,
.more-info-2 span:hover,
.more-info-3 span:hover,
.more-info-4 span:hover {
    color: white;
}






