header {
  position: fixed;
  width: 240px;
  height: 100%;
  background-color: #f1e4c3;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
}

header img {
  width: 220px;
}

/* Used to center the logo image */
#logo-with-name {
  display: flex;
  justify-content: center;
  align-items: start;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

nav div {
  height: 50px;
}

nav div div,
#log-out {
  display: flex;
  align-items: center;
}

nav div div:hover, 
#log-out:hover {
  background-color: #75a26d;
  color: white;
}

.nav-active {
  background-color: #75a26d;
}

/* Icons */
nav i {
  font-size: larger;
  margin-right: 8px;
  margin-left: 12px;
}

#log-out {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: rgba(89, 126, 82, 0.21);
}

@media screen and (max-width: 480px) {
  header {
    width: 157px;
    overflow: hidden;
  }

  nav div {
    height: max-content;
    padding: 7px 0;
  }

  header img {
    width: 100%;
  }

  main {
    margin-left: 157px !important;
  }
}
