header {
  height: 100px;
  background-color: #f1e4c3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
}

#logo-without-name {
  height: 90px;
}

#logo-name {
  height: 30px;
}

.nav-left {
  height: 100%;
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.nav-right {
  position: absolute;
  top: 30px;
  right: 60px;
  display: flex;
  align-items: center;
  color: #707070;
}

.nav-right a {
  text-decoration: none;
  font-size: 22px;
  color: #707070;
}

.nav-right span:nth-child(1) {
  margin: 0 40px;
}

.nav-right a:hover {
  color: #75a26d;
}

.icon-profile {
  font-size: 25px;
}

.nav-right a:nth-child(2) {
  display: flex;
  gap: 2px;
}
