/* Ingredient filter section */
.ingredient-filter {
    background-color: rgba(226, 209, 167, 0.95);
    position: fixed;
    top: 120px;
    bottom: 30px;
    width: 21%;
    min-width: 300px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin-left: 30px;
    z-index: 100;
    overflow-y: scroll;
    border: #aeaeae 0.3px solid;
  }

  /* Scrollbar width */
  .ingredient-filter::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  .ingredient-filter:hover::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(159, 159, 159, 0.5); 
    border-radius: 20px;
  }

  /* Handle */
  .ingredient-filter:hover::-webkit-scrollbar-thumb {
  /* background: #C6AC69; */
  background: #6A994E;
  border-radius: 20px;
} 
  
  .ingredient-filter h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: #597e52;
    text-align: center;
    margin: 20px 0 20px 0;
  }
  
  .ingredient-filter > div {
    background-color: #fff;
    width: 85%;
    height: max-content;
    min-height: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .ingredient-filter img {
    width: 30px;
  }
  
  .ingredient-header {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: #000 1px solid;
    margin-bottom: 20px;
  }
  
  .ingredient-header span {
    margin-left: 10px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .ingredients {
    padding: 4px 10px;
  }
  
  .ingredients button {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    margin: 0 7px 15px 5px;
    cursor: pointer;
  }
  
.ingredients button:hover {
    background-color: #a7c957;
    color: #fff;
}

  /* Expand - shrink icon */
.expand-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    rotate: 180deg;
    cursor: pointer;
  }
  
.expand-icon-container {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 40%;
    left: 16px;
    display: none;
    z-index: 100;
}

.moveRight {
    animation: moveRight 0.5s forwards;
}


/* Responsive */
@media screen and (max-width: 914px) {
    .ingredient-filter {
      left: -320px;
    }

    .expand-icon-container {
        display: block;
      }
}

/* Move the element by 310px to the right*/
@keyframes moveRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(320px);
    }
  }

  /* Move the element by 310px to the left*/
  @keyframes moveLeft {
    0% {
      transform: translateX(320px);
    }
    100% {
      transform: translateX(0);
    }
  }
