/* Ingredient basket (Pantry) */
.pantry-icon {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 60px;
  background-color: #f1e4c3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #597e52 0.5px solid;
  box-shadow: 2px 2px 10px #fff;
  animation: wiggle 3s infinite;
  cursor: pointer;
}
  
.moveUp {
  animation: moveUp 0.5s forwards;
}

.pantry-icon img {
  width: 30px;
}

#num-of-ingredients {
  padding-left: 4px;
  margin-top: 5px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
}

.pantry-contents {
  background-color: #fff;
  border: #9a9999 1px solid;
  width: 300px;
  height: 330px;
  overflow-y: scroll;
  position: fixed;
  bottom: 0;
  right: 60px;
  border-radius: 10px 10px 0 0;
}

.pantry-title img {
  width: 28px;
  margin-right: 5px;
}

.pantry-title span {
  font-size: 20px;
}

.pantry-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.pantry-list {
  margin-top: 10px;
  padding: 10px 30px;
  border-top: #000 0.5px solid;
}

.pantry-item {
  margin-bottom: 8px;
}

.remove-ingredient {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.remove-ingredient i {
  color: red; 
}


@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(5deg);
  }
  10% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(0deg);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-310px);
  }
}


