/* Search section */
#search {
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(241,228,195,0.75);
    margin: 30px 0 20px 0;
    /* border: #c8c8c8 0.2px solid; */
    padding: 0 20px;
  }
  
  .search-bg {
    background: url('/images/bgSearch.jpg');
  }

  #search-bar {
    height: 45px;
    width: 70%;
    border: #707070 0.2px solid;
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #search-bar button,
  #search-bar input {
    border-radius: 3px;
    border: none;
    padding: 0 10px;
  }
  
  #search-bar button {
    height: 75%;
    width: 70px;
    margin-left: 6px;
    background-color: #FFF5DA;
    border: #707070 0.2px solid;
    cursor: pointer;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
  }
  
  #search-bar button:hover {
    background-color: rgba(207, 179, 108, 0.8);
  }
  
  #search-bar input {
    height: 94%;
    margin-left: 5px;
    width: calc(100% - 70px - 7px);
    font-size: 14px;
  }

  #search-bar input:focus {
    outline-width: 0;
  }
  
  #search h2 {
    margin-bottom: 10px;
    /* margin-top: 50px; */
    color: #4e7e29;
    text-shadow: -1px -1px 0 #f1f1f1, 1px -1px 0 #f1f1f1, -1px 1px 0 #f1f1f1, 1px 1px 0 #f1f1f1;
    font-weight: 600;
    /* font-size: 26px; */
    font-family: 'Inika', serif;
    /* font-family: 'Inter', sans-serif; */
    font-size: 26px;
  }


/* Responsive */
@media screen and (max-width: 1230px) {
    #search-bar {
        width: 100%;
      }
}

@media screen and (max-width: 608px) {
    
    #search-bar input {
        width: calc(100% - 40px);
    }
    
    #search-bar button {
        width: 40px;
        cursor: pointer;
    }
}
