/* Search section */
#search {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  #search-bar {
    height: 40px;
    width: 60%;
    border: #75a26d 0.5px solid;
    border-radius: 7px;
    background-color: #fff;
    display: flex;
    align-items: center;
  }
  
  #search-bar button,
  #search-bar input {
    border-radius: 7px;
    border: none;
    padding: 0 10px;
  }
  
  #search-bar button {
    height: 90%;
    width: 70px;
    margin: 2px;
    background-color: #E2D1A7;
    border: #cfcfcf 0.2px solid;
    cursor: pointer;
  }
  
  #search-bar button:hover {
    background-color: rgba(207, 179, 108, 0.8);
  }
  
  #search-bar input {
    height: 94%;
    margin-left: 5px;
    width: calc(100% - 70px - 7px);
    font-size: 14px;
  }

  #search-bar input:focus {
    outline-width: 0;
  }
  
  #search h2 {
    margin-bottom: 20px;
    color: #597e52;
    font-weight: 600;
  }


/* Responsive */
@media screen and (max-width: 1210px) {
    #search-bar {
        width: 100%;
      }
}

@media screen and (max-width: 914px) {
    #search-bar {
        width: 60%;
      }
}

@media screen and (max-width: 882px) {
    #search-bar {
        width: 80%;
      }
}

@media screen and (max-width: 608px) {
    #search-bar {
        width: 100%;
      }
    
    #search-bar input {
        width: calc(100% - 40px - 26px);
    }
    
    #search-bar button {
        width: 40px;
        cursor: pointer;
    }
}
